<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/static/favicon.ico" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="webkit" name="renderer"/>
  <link href="/static/normalize.css" rel="stylesheet"/>
  <link href="/static/prose.css" rel="stylesheet"/>
  <link href="/static/style.css" rel="stylesheet"/>
  {% block css %}{% endblock %}
  {% block title %}
  <title>Pebble</title>
  {% endblock %}
  <script>
    (function () {
      const savedTheme = localStorage.getItem('theme');
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      document.documentElement.dataset.theme = savedTheme || (prefersDark ? 'dark' : 'light')
    })();
  </script>
</head>
<body>
<div class="container">
  {% block header %}
  <header class="print-hidden" style="display: flex; justify-content: space-between; margin-bottom: 1.2rem;">
    <button
      aria-label="Toggle theme"
      class="theme-toggle"
      style="font-size: 1.5rem"
      title="Toggle theme"
      type="button"
    >
      <svg
        aria-hidden="true"
        class="theme-toggle__classic"
        fill="currentColor"
        height="1em"
        stroke-linecap="round"
        viewBox="0 0 32 32"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <clipPath id="theme-toggle__classic__cutout">
          <path d="M0-5h30a1 1 0 0 0 9 13v24H0Z" />
        </clipPath>
        <g clip-path="url(#theme-toggle__classic__cutout)">
          <circle cx="16" cy="16" r="9.34" />
          <g stroke="currentColor" stroke-width="1.5">
            <path d="M16 5.5v-4" />
            <path d="M16 30.5v-4" />
            <path d="M1.5 16h4" />
            <path d="M26.5 16h4" />
            <path d="m23.4 8.6 2.8-2.8" />
            <path d="m5.7 26.3 2.9-2.9" />
            <path d="m5.8 5.8 2.8 2.8" />
            <path d="m23.4 23.4 2.9 2.9" />
          </g>
        </g>
      </svg>
    </button>
    {% if about_url %}
    <a href="{{ about_url }}">About</a>
    {% endif %}
  </header>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
</div>
{% block js %}{% endblock %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const themeToggle = document.querySelector('.theme-toggle');
    const htmlElement = document.documentElement;
    toggleClass(htmlElement.dataset.theme)

    themeToggle.addEventListener('click', () => {
      const newTheme = htmlElement.dataset.theme === 'light' ? 'dark' : 'light';
      toggleClass(newTheme)
      htmlElement.dataset.theme = newTheme
      localStorage.setItem('theme', newTheme);
    });

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
      if (!localStorage.getItem('theme')) {
        const newTheme = e.matches ? 'dark' : 'light'
        toggleClass(newTheme)
        htmlElement.dataset.theme = newTheme
      }
    });

    function toggleClass(theme) {
      if (theme === 'dark') {
        themeToggle.classList.add('theme-toggle--toggled')
      } else {
        themeToggle.classList.remove('theme-toggle--toggled')
      }
    }
  });
</script>
</body>
</html>
